/*Cтили для полосы прокрутки*/
.progress-container {
	width: 100%;
	height: 8px;
	background: #ccc;
	position: fixed;
	z-index: 1;
}

.progress-bar {
	height: 8px;
	background: #1f4163;
	width: 0%;
	transition: none;
}
/**/