	Testimonial Section
====================================================================

***/

.testimonial-section{
	position:relative;
	padding-top: 150px;
	background-color: #eef2f2;

}

.testimonial-section.style-two{
	margin-top:160px;
	background-color:#eef2f2;
}

.testimonial-section .sec-title{
	margin-bottom:70px;
}

.testimonial-section .owl-nav{
	position:absolute;
	right:0px;
	top:-105px;
}

.testimonial-section .owl-nav .owl-prev,
.testimonial-section .owl-nav .owl-next{
	position:relative;
	color:#999999;
	font-size:36px;
	margin-left:30px;
	font-weight:300;
	display:inline-block;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.testimonial-section .owl-nav .owl-prev:hover,
.testimonial-section .owl-nav .owl-next:hover{
	color:#000000;
}

.testimonial-block{
	position:relative;
	margin-bottom:30px;
}

.testimonial-block .inner-box{
	position:relative;
	padding:25px 32px 35px;
	border:1px solid #e1e1e1;
	background-color:#ffffff;
	min-height: 180px;
}

.testimonial-block .inner-box:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	height:5px;
	opacity:0;
	transform:scale(0.3,1);
	background-color:#e0540d;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.testimonial-block .inner-box:hover::before{
	opacity:1;
	transform:scale(1,1);
}

.testimonial-block .inner-box .quote{
	position:relative;
	font-size:60px;
	color:#ffe1a0;
	line-height:1em;
	text-align:right;
	margin-right:-10px;
}

.testimonial-block .inner-box .author{
	position:relative;
	color:#263a4f;
	font-size:18px;
	font-weight:500;
	margin-top:0px;
	font-family: 'Heebo', sans-serif;
}

.testimonial-block .inner-box .author span{
	position:relative;
	font-weight:400;
	color:#8d9aa8;
	font-size:14px;
}

.testimonial-block .inner-box p{
	position:relative;
	color:#8d9aa8;
	font-size:14px;
	line-height:1.8em;
	margin-top:15px;
	margin-bottom:0px;
}
.auto-container{
	position:static;
	max-width:1200px;
	padding:0px 15px;
	margin:0 auto;
}
.inner-boxed{
	position:relative;
}
.quote{
	position:relative;
	font-size:60px;
	color:#ffe1a0;
	line-height:1em;
	text-align:right;
	margin-right:-10px;
}
.sec-title {
	margin-top: 30px;
	text-align: center;
}
.testimonial-section {
	margin-top: 50px;
	margin-bottom: 50px;
}

/*** 